<!DOCTYPE html>
<html ng-app="splatter-web">
	<head>
		<title>Basic Splatter Client</title>
		<script src="angular.min.js"></script>
		<script src="angular-resource.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div ng-controller="UserController as user">
		<!-- Add your HTML and Angular code below -->
		<form ng-submit="user.login()">
			<input type="text" ng-model="user.data.id" />
			<input type="submit" value="Login" />
		</form>

		<p>User Id: {{user.loggedin_user.id}}</p>
		<p>Name: {{user.loggedin_user.name}}</p>
		<p>Email: {{user.loggedin_user.email}}</p>
		<p>{{user.loggedin_user.blurb}}</p>
		<div>
			<form ng-submit="user.updateUser()">
				<input type="text" ng-model="user.data.name" /><br />
				<input type="text" ng-model="user.data.email" /> <br />
				<textarea ng-model="user.data.blurb"></textarea> <br />
				<input type="submit" value="Update" />
			</form>
		</div>
		<div>
			<form ng-submit="user.createUser()">
				<input type ="text" ng-model="user.data.cname" /> <br />
				<input type ="text" ng-model="user.data.cemail" /> <br />
				<input type ="text" ng-model="user.data.cpassword" /> <br />
				<textarea ng-model="user.data.cblurb"></textarea> <br />
				<input type="submit" value ="Create" />
			</form>
		</div>
		<div>
			<form ng-submit="user.deleteUser()">
				<select ng-model="user.data.delid">
					<option ng-repeat="u in user.ulist">{{u.id}}</option>
				</select>
				<input type="submit" value="Delete" />
			</form>
		</div>
		

                <!-- Add your HTML and Angular code above

		</div>
	</body>
</html>

